<html lang='en'>
<head>
  <title>Invoice</title>
  <style>
      body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 20px;
      }

      h1, h2 {
          margin-bottom: 10px;
      }

      table {
          width: 100%;
          border-collapse: collapse;
          margin-bottom: 20px;
      }

      th, td {
          border: 1px solid #ccc;
          padding: 8px;
      }
  </style>
</head>
<body>
<h1>Invoice</h1>

<h2>Client Information:</h2>
<p>First Name: {{ client.firstName }}</p>
<p>Last Name: {{ client.lastName }}</p>
<p>Email: {{ client.email }}</p>

<h2>Client Company Information:</h2>
<p>Name: {{ clientCompany.name }}</p>
<p>Address: {{ clientCompany.address }}</p>
<p>Phone: {{ clientCompany.phone }}</p>

<h2>Invoice Details:</h2>
<p>Invoice Number: {{ invoiceNumber }}</p>
<p>Invoice Date: {{ invoiceDate }}</p>

<h2>Invoice Items:</h2>
<table>
  <thead>
  <tr>
    <th>Item</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  {{#each invoiceItems}}
  <tr>
    <td>{{ this.item }}</td>
    <td>{{ this.price }}</td>
  </tr>
  {{/each}}
  </tbody>
</table>

<h2>Total Amount: {{ totalAmount }}</h2>

<h2>Sender Information:</h2>
<p>Organization: {{ sender.organization }}</p>
<p>Address: {{ sender.address }}</p>
<p>Phone: {{ sender.phone }}</p>
</body>
</html>
